 body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
 }

 .unit {
    width: 1200px;
    min-height: 2762px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
    background-image: url("../img/bg-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
 }

 .main-header {
    margin-bottom: 61px;
 }

 .main-header-logo {
    width: 140px;
    height: 71px;
 }

 .site-navigation {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 a {
    text-decoration: none;
 }

 .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
 }

 .hotel-search {
    list-style: none;
 }

 .site-navigation a {
    color: #000000;
 }

 .site-navigation a:hover,
 .site-navigation a:focus {
    color: #81b3d2;
 }

 .site-navigation a:active {
    color: rgba(0, 0, 0, 0.3)
 }

 .site-navigation-current a {
    color: #766357;
 }

 .welcome {
    width: 460px;
    margin: 0 auto;
    background-color: transparent;
    margin-bottom: 76px;
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .why-sedona-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 55px;
 }

 .why-sedona,
 .hotel-search {
    text-align: center;
    line-height: 26px;
    background-color: #ffffff;
 }

 .why-sedona h2 {
    width: 440px;
    padding-bottom: 35px;
    font-size: 21px;
    line-height: 26px;
 }

 .why-sedona p {
    width: 490px;
 }

 .hotel-search h2{
    font-size: 30px;
    line-height: 36px;
 }

 .why-sedona p,
 .hotel-search p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #333333;
 }

 .reasons {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: column;
 }

 .five-reasons {
    text-align: center;
 }

 .five-reasons h3 {
    font-size: 21px;
 }

 .five-reasons p {
    font-size: 14px;
    font-weight: normal;
 }

 .main-reasons {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #81b3d2;
 }

 .bridge {
    flex-direction: row-reverse;
 }

 .main-reasons-container {
    width: 400px;
 }

 .main-reasons-wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 }

 .services-sedona {
    padding: 60px 60px 85px 70px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
 }

 .services {
    width: 290px;
    display: flex;
    flex-direction: column;
 }

 .services-sedona h4 {
    font-size: 21px;
    color: #000000;
 }

 .services-sedona p {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
 }

 .other-reasons-container {
   padding-left: 95px;
   padding-right: 75px;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eeeeee;
 }

 .other-reasons {
    padding-top: 50px;
    padding-bottom: 65px;
    width: 250px;
    display: flex;
    flex-direction: column;
 }

 .center-item {
    width: 270px;
 }

 .button {
    font: inherit;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
 }

 .button:hover,
 .button:focus {
    background-color: #669ec0;
 }

 .button:active {
    color: rgba (255 255 255, 0.3);
    background-color: #5496bd;
 }

 .modal-search {
    background-color: #766357;
 }

 .modal-search:hover,
 .modal-search:focus {
    background-color: #604e43;
 }

 .modal-search:active {
    background-color: #503e33;
 }

 .model-search-form {
    background-color: #ffffff;
 }

 .hotel-search {
    padding: 55px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .hotel-search p {
    width: 435px;
 }

 .hotel-search-form input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
 }

 .calendar {
    background-image: url("../img/calendar.svg");
    background-position: right;
    background-repeat: no-repeat;
 }

 .hotel-search-form input:hover {
    background-color: #ebebeb;
 }

 .hotel-search-form input:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
 }

 .hotel-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .filters {
    сolor: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
 }

 .filters legend,
 .price-day {
    font-size: 16px;
 }

 .filters fieldset {
    border: none;
 }

 .price span {
    font-size: 14px;
 }

 .filter-button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: transparent;
    border: border: solid 2px #ffffff;
 }

 .catalog-list {
   list-style: none;
 }

 .catalog-item h3 {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
 }

 .catalog-item h3:hover {
    color: #81b3d2;
 }

 .catalog-item h3:active {
    color: rgba (0 0 0, 0.3);
 }

 .type-housing,
 .value {
    color: #333333;
 }

 .button-hotel {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
 }

 .button-hotel:hover {
    background-color: #669ec0;
 }

 .button-hotel:active {
    color: rgba (255 255 255, 0.3);
    background-color: #5496bd;
 }

 .book {
    background-color: #766357;
 }

 .book:hover {
    background-color: #604e43;
 }

 .book:active {
    color: rgba (255 255 255, 0.3);
    background-color: #503e33;
 }

 .category-stars {
    color: #81b3d2;
 }

 .rating {
    font: inherit;

    text-align: center;
    color: #666666;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
 }

 .main-footer {
    margin-top: 35px;
    padding-left: 130px;
    padding-right: 100px;
    text-align: center;
    background-color: #ffffff;
 }

 .main-footer p {
    font-size: 21px;
    line-height: 26px;
 }

 .footer-social ul {
    list-style: none;
 }

 .social a {
    color: #ffffff;
    background-color: #81b3d2;
 }

 .social a:hover,
 .social a:focus {
    background-color: #669ec0;
 }

 .social a:active {
    background-color: #5496bd;
 }

 .footer-copiright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    vertical-align: middle;
 }

 .hashtag-visitsedona,
 .social,
 .footer-copirigh {
    margin: 0;
 }

 .main-footer-container {
    display: flex;
 }

 .social {
    list-style: none;
    margin: 0;
    display: flex;
 }

 .hashtag-visitsedona {
    width: 135px;
    margin-right: 270px;
 }

 .footer-social {
    width: 140px;
 }

 .footer-copiright {
    width: 200px;
    margin-left: auto;
 }
