body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
 }

 .unit {
    width: 1200px;
    height: 2762px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
 }

 a {
    text-decoration: none;
 }

 .main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
 }

 .site-navigation,
 .hotel-search {
    list-style: none;
 }

 .site-navigation a {
    color: #000000;
 }

 .site-navigation a:hover,
 .site-navigation a:focus {
    color: #81b3d2;
 }

 .site-navigation a:active {
    color: rgba(0, 0, 0, 0.3)
 }

 .site-navigation-current a {
    color: #766357;
 }

 .welcome {
    background-color: #ffffff;
    background-image: url("img/bg-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .why-sedona,
 .hotel-search {
    text-align: center;
    line-height: 26px;
    background-color: #ffffff;
 }
 .why-sedona h2 {
    font-size: 21px;
 }

 .hotel-search h2 {
    font-size: 30px;
    line-height: 36px;
 }

 .why-sedona p,
 .hotel-search p {
    font-weight: normal;
    color: #333333;
 }

 .five-reasons {
    text-align: center;
 }

 .five-reasons h3 {
    font-size: 21px;
 }

 .five-reasons p {
    font-size: 14px;
    font-weight: normal;
 }

 .main-reasons {
    color: #ffffff;
    background-color: #81b3d2;
 }

 .services-sedona {
    list-style: none;
    background-color: #ffffff;
 }

 .services-sedona h4 {
    font-size: 21px;
    color: #000000;
 }

 .services-sedona p {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
 }

 .other-reasons {
    background-color: #eeeeee;
 }

 .button {
    font: inherit;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
 }

 .button:hover,
 .button:focus {
    background-color: #669ec0;
 }

 .button:active {
    color: rgba 255 255 255, 0.3;
    background-color: #5496bd;
 }

 .modal-search {
    background-color: #766357;
 }

 .modal-search:hover,
 .modal-search:focus {
    background-color: #604e43;
 }

 .modal-search:active {
    background-color: #503e33;
 }

 .model-search-form {
    background-color: #ffffff;
 }

 .hotel-search-form input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
 }

 .calendar {
    background-image: url("img/calendar.svg");
 }

 .hotel-search-form input:hover {
    background-color: #ebebeb;
 }

 .hotel-search-form input:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
 }

 .filters {
    сolor: #ffffff;
    background-color: #81b3d2;
    background-image: url("img/filter-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
 }

 .filters legend,
 .price-day {
    font-size: 16px;
 }

 .filters fieldset {
    border: none;
 }

 .price span {
    font-size: 14px;
 }

 .filter-button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: transparent;
    border: border: solid 2px #ffffff;
 }

 .catalog-list {
   list-style: none;
 }

 .catalog-item h3 {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
 }

 .catalog-item h3:hover {
    color: #81b3d2;
 }

 .catalog-item h3:active {
    color: rgba 0 0 0, 0.3;
 }

 .type-housing,
 .value {
    color: #333333;
 }

 .button-hotel {
    font: inherit;

    line-height: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
 }

 .button-hotel:hover {
    background-color: #669ec0;
 }

 .button-hotel:active {
    color: rgba 255 255 255, 0.3;
    background-color: #5496bd;
 }

 .book {
    background-color: #766357;
 }

 .book:hover {
    background-color: #604e43;
 }

 .book:active {
    color: rgba 255 255 255, 0.3;
    background-color: #503e33;
 }

 .category-stars {
    color: #81b3d2;
 }

 .rating {
    font: inherit;

    text-align: center;
    color: #666666;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
 }
 
 .main-footer {
    text-align: center;
    background-color: #ffffff;
 }

 .main-footer p {
    font-size: 21px;
    line-height: 26px;
 }

 .footer-social ul {
    list-style: none;
 }

 .social a {
    color: #ffffff;
    background-color: #81b3d2;
 }

 .social a:hover,
 .social a:focus {
    background-color: #669ec0;
 }

 .social a:active {
    background-color: #5496bd;
 }

 .footer-copiright {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    vertical-align: middle;
 }
